name: Build AndUEDumper

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y make unzip wget

    - name: Install Android NDK
      run: |
        wget https://dl.google.com/android/repository/android-ndk-r25c-linux.zip
        unzip android-ndk-r25c-linux.zip
        echo "NDK_HOME=$PWD/android-ndk-r25c" >> $GITHUB_ENV

    - name: Verify NDK
      run: |
        echo "NDK_HOME=$NDK_HOME"
        ls $NDK_HOME

    - name: Build AndUEDumper
      run: |
        cd AndUEDumper
        make clean
        make

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AndUEDumper-build
        path: |
          AndUEDumper/**/*.so
          AndUEDumper/**/*Dumper*

